body {
	margin:0;
	font-family:'Lato', sans-serif;
	text-align: center;
	color: #999;
}

.homepage {
	display: flex;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

h1 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 2em;
	width: 12em;
}